* {
  text-align: left;
  display: inline;
  font-family: Impact;
  margin: 3px;
  touch-action: manipulation; /* disable double tap to zoom*/
}

div{
    display: block;
}

title{
    display: none;
}