* {
    display: inline;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 2px;
    padding: 0px;
    touch-action: manipulation;
}

input[type=button] {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: 0px;
    color: white;
    background: #456989;
}

.mainview {
    width: 217px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    text-align: right;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.back {
    background: linear-gradient(#e66465, #9198e5);
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

head {
    display: none;
}

div {
    display: block;
}

title {
    display: none;
}